<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages</title>
    <style>
        .rectangular-input {
            width: 400px;
            height: 80px;
            font-size: 16px;
            padding: 2px;
            border: 2px solid #333;
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <!-- if file upload fails -->
    <div style="color: red;">
        {{ error }}
    </div>
    <!-- add input here for files, take file upload -->
    <form action="/send" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="num" value="{{ num }}">
        <input type="text" name="sendbox" class="rectangular-input" placeholder="Type here...">
        <input type="file" id="fileUpload" name="file">
        <label>
            <input type="checkbox" name="asattach" value="yes">
            As attachment
        </label>
        <button type="submit">Send</button>
    </form>
    {% for who,msg,t in who_msg_t %}
        <b>{{ who }}&nbsp;&nbsp;&nbsp;{{ t }}</b>
        {% if msg is iterable and not msg is string %}
            {% if msg is mapping %}
                <form action="/downmedia" method="POST">
                    <input type="hidden" name="type" value="{{ msg["type"] }}">
                    <input type="hidden" name="mimetype" value="{{ msg["mimetype"] }}">
                    <input type="hidden" name="filename" value="{{ msg["filename"] }}">
                    <button type="submit" style="border: none; background: none; padding: 0; cursor: pointer;">
                        <input type="hidden" name="media" value="{{ msg }}">
                        {% if msg["type"] == "video" %}
                            <img src="{{url_for("static", filename="vidicon.png")}}" width="80" height="80">
                        {% elif msg["type"] == "audio" %}
                            <img src="{{url_for("static", filename="audio.png")}}" width="80" height="80">
                        {% endif %}
                        <p>{{ msg["filename"] }}</p>
                    </button>
                </form>
                <p>{{ msg["caption"] }}</p>
            {% else %}
                {% for type,mimetype,body,capt in msg %}
                    <form action="/downmedia" method="POST">
                        <input type="hidden" name="type" value="{{ type }}">
                        <input type="hidden" name="mimetype" value="{{ mimetype }}">
                        <button type="submit" style="border: none; background: none; padding: 0; cursor: pointer;">
                            <input type="hidden" name="media" value="{{ body }}">
                            {% if "jpeg" in mimetype %}
                                <img src="data:{{ mimetype }};base64,{{ body }}" width="120" height="120">
                            {% endif %}
                        </button>
                    </form>
                    {% if "jpeg" not in mimetype %}
                        <img src="data:{{ mimetype }};base64,{{ body }}" width="120" height="120">
                    {% endif %}
                    <p>{{ capt }}</p>
                {% endfor %}
            {% endif %}
        {% else %}
            {% if msg == "No message history" or msg == "Message deleted" %}
                <br>
                <i>{{ msg }}</i>
                <br>
            {% else %}
                <p>{{ msg }}</p>
            {% endif %}
        {% endif %}
    {% endfor %}
    <form action="/pgdown" method="POST">
        <input type="hidden" name="num" value="{{ num }}">
        <button type="submit">Down</button>
    </form>
</body>
</html>

